django==5.2.16
cffi==1.17.1
urllib3==2.3.0
dj-database-url==2.3.0
django-pipeline==4.0.0
gunicorn==23.0.0
names==0.3.0
python-dateutil==2.9.0
requests==2.32.3
whitenoise==6.9.0
xlrd==2.0.0
sentry-sdk==2.22.0
