{% load math %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MPR (Medicine Price Registry) - OpenUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="_lWgnvin7w-6I_YOY23q3dI9E0pFAD8N6kQRPQda63g" />
    {% load pipeline %}
    {% stylesheet 'mpr' %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44046318-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-44046318-2');

        window.gtag = gtag;
    </script>

  </head>
  <body>
    <a id="top"></a>
    <main class="container">
        <div class="alert alert-danger"><strong>Please note</strong> the Department of Health has been experiencing technical difficulties and most of the prices are from March 2020. Distributors are welcome to submit updates for inclusion in our database.</div>
      <header role="banner" class="container page-header">
        <h1>What should your medicines cost?</h1>
      </header>
      <article role="main" class="col-md-12">
      {% block body %}{% endblock %}
      </article>
      <aside class="col-md-12">
        <section class="panel panel-info">
          <header class="panel-heading">
            <h3 class="panel-title">What is this all about?</h3>
          </header>
          <div class="panel-body">
            <p>Did you know that medicine prices are regulated in South Africa? Using this application you can:</p>
            <ul>
                <li>Know what to expect to pay when you get a prescription from your doctor</li>
                <li>Find possible generics for a branded medicine. Ask your doctor if these medicines are viable alternatives.</li>
                <li>Ensure that you are not being overcharged for your medicine.</li>
            </ul>
          </div>
        </section>
        <section class="panel panel-info">
          <header class="panel-heading">
            <h3 class="panel-title">How can you use it?</h3>
          </header>
          <div class="panel-body">
            <p>Here are some ideas for how this application can be useful:</p>
            <ul>
                <li>When your doctor prescibes a medicine, quickly check on your phone for alternatives and ask whether the brand name product can be replaced with a generic.</li>
                <li>If you're on chronic medication you can periodically check to see whether the price of your meds has increased.</li>
                <li>While waiting in the queue at the pharmacy, you can look up your medicine and find out how much it will cost you and what alternatives you can ask the pharmacist for.</li>
                <li>If you look up a particular medicine often, you can bookmark the page so that you can quickly refer to it.</li>
            </ul>
          </div>
        </section>
        <section class="panel panel-info">
          <header class="panel-heading">
            <h3 class="panel-title">What is the <abbr title="Single Exit Price">Single Exit Price</abbr>?</h3>
          </header>
          <div class="panel-body">
            <p>The single exit price (SEP) mechanism in South Africa lists the maximum price that a medicine can be charged at. Dispensers may charge an additional dispensing fee depending on the price of the medicine. The Medicines and Related Substances Act allows for the following charges (excl VAT):</p>
            <ul>
                {% for row in price_parameters.prices %}
                    {% if not row.0|isinf %}
                    <li>Where the SEP is less than R{{ row.0|floatformat:2 }}, the maximum dispensing fee is R{{ row.2|floatformat:2 }} + {{ row.1|mult:100 }}% of the SEP.</li>
                    {% else %}
                    <li>Otherwise the maximum dispensing fee is R{{ row.2|floatformat:2 }} + {{ row.1|mult:100}}% of the SEP.</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <p>The prices listed in this database represent the maximum price that you should be paying for your medicines (incl VAT). Note that these prices do not apply to dispensing practitioners who have a separate dispensing fee.</p><p>You can find the latest fees schedule <a href="https://search.opengazettes.org.za/text/36879?dq=43447&page=18">here</a>.</p>
            <p>Please note that allowed dispensing fees may change and this website may not be completely up-to-date. The prices listed above were valid at {{ last_updated }}.</p>
          </div>
        </section>
        <section>
          <p class="text-center"><a href="https://www.openup.org.za"><img src="/static/images/logo.svg" alt="OpenUp"></a></p>
        </section>
      </aside>
      <footer role="contentinfo" class="container text-center">

        <ul class="list-inline">
          <li>These prices were collected on {{ last_updated }}.</li>
          <li>Contact &#097;&#100;&#105;&#064;&#111;&#112;&#101;&#110;&#117;&#112;&#046;&#111;&#114;&#103;&#046;&#122;&#097; for more details</li>
        </ul>
        <ul class="list-inline">
          <li><a href="/">MPR</a> is powered by <a href="https://www.openup.org.za/">OpenUp</a>.</li>
          <li><a href="https://github.com/Code4SA/medicine-price-registry">Pull requests are welcome</a></li>
          <li>Thanks <a href="http://onlinepharmacycheck.com/medico/">MedICO</a> for the cool icons.</li>
        </ul>
      </footer>
    </main>
    {% javascript 'mprbase' %}
    {% block bodybottom %}{% endblock %}
  </body>
</html>
