<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MPR (Medicine Price Registry) - Code4SA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load compressed %}
    {% compressed_css 'mpr' %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <main class="container">
    {% block body %}{% endblock %}
    </main>

    {% compressed_js 'mpr-base' %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44046318-2', 'code4sa.org');
      ga('send', 'pageview');
    </script>
    {% block bodybottom %}{% endblock %}
  </body>
</html>
