{% extends "base.html" %}
{% block body %}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <h1>South Africa Medicine Price Registry</h1>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
              <input type="text" class="form-control" placeholder="Type in a medicine">
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-2"></div>
    </div><!-- /.row -->
{% endblock %}
