{% extends "base.html" %}
{% block body %}
    <a href="https://github.com/Code4SA/medicine-price-registry"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
    <a href="http://www.code4sa.org"><img style="position: absolute; top: 0; left: 0; border: 0;" src="/static/images/logo.png" alt="Code for South Africa"></a>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <h1>South Africa Medicine Price Registry</h1>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
              <input type="text" id="entrybox" class="form-control" placeholder="Type in a medicine">
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-2"></div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
           <h3>Projects containing your selected ingredient: </h3>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 products">
           <img src="/static/images/loader.gif" id="loading-indicator" style="display:none" />
            <div class="template productrow row">
                <div class="col-lg-7 details">
                    <h4>Details</h4>
                    <div>Medicine Name : <span>Migril</span></div>
                    <div>Maximum price: <span>R10.23</span></div>
                    <div>Registration Number : <span>h516</span></div>
                    <div>Schedule : <span>S5</span></div>
                    <div>Dosage Form: <span>60</span></div>
                    <div>Units in a pack (e.g. tablets, ml, capsules): <span>Tab</span></div>
                    <div>Number of Packs: <span>1</span></div>
                    <div>Generic/Innovator : <span>Innovator</span></div>
                </div>
                <div class="col-lg-5 ingredients">
                    <h4>Ingredients</h4>
                    <div>Paracetamol : <span>200mg</span></div>
                    <div>Paracetamol : <span>200mg</span></div>
                    <div>Paracetamol : <span>200mg</span></div>
                </div>
            </div>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <p>
        The single exit price (SEP) mechanism in South Africa defines the maximum price that a medicine can be charged at. Dispensers may charge an additional dispensing fee depending on the price of the medicine. The Medicines and Related Substances Act allows for the following charges:
        <ul>
            <li>Where the SEP is less than R81.00, the maximum dispensing fee is R6.30 + 46% of the SEP.</li>
            <li>Where the SEP is less than R216.00, the maximum dispensing fee is R16.00 + 33% of the SEP.</li>
            <li>Where the SEP is less than R756.00, the maximum dispensing fee is R52.00 + 15% of the SEP.</li>
            <li>Where the SEP is greater than or equal to R756.00, the maximum dispensing fee is R123.00 + 5% of the SEP.</li>
        </ul>
        </p>
        <p>
        This prices listed in this database represent the maximum allowed amount for charging for the relevant medicines. A pharmacy is not legally allowed to charge more.
        </p>

        <p>More information can be found at <a href="http://www.mpr.gov.za/">the Medicine Price Registry</a></p>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-2"></div>
    </div>
{% endblock %}

{% block bodybottom %}
<script>
    map = {
        0 : "name",
        1 : "sep",
        2 : "regno",
        3 : "schedule",
        4 : "dosage_form",
        5 : "pack_size",
        6 : "num_packs",
        7 : "is_generic",
    }

    process_ingredient = function(js) {
        d3.select("#loading-indicator").style("display", "none");
        d3.selectAll(".products").classed("template", true);
        d3.selectAll(".products .product").remove();

        if (js.length > 0) {
            d3.selectAll(".products").classed("template", false);

            row = d3.select(".products .template")[0][0];

            d3.selectAll(".products").selectAll("div.product")
                .data(js)
                .enter()
                .append("div")
                .classed("product", true)
                .classed("row", true)
                .html(function(el, i) {
                    return row.innerHTML;
                })
                .each(function(el, i) {
                    var data = el;
                    d3.select(this).selectAll("div.details span").text(function(el, i) {
                        key = map[i];
                        return data[key];
                    })
                    d3.select(this).selectAll("div.ingredients div").remove()
                    d3.select(this).selectAll("div.ingredients").selectAll("div")
                        .data(data.ingredients) 
                        .enter()
                        .append("div")
                        .html(function(el, i) {
                            return "<div>" + el.name + ": <span>" + el.strength + el.unit + "</span></div>"
                        })
                })
            
        }
    }

    var timer;
    entermedicine = function(el) {
        text = d3.event.target.value;

        load = function() {
            d3.select("#loading-indicator").style("display", "block");
            d3.json("/api/?ingredient=" + text, process_ingredient)
        }

        clearTimeout(timer)
        timer = setTimeout(load, 500);

    }
    d3.select("#entrybox").on("keyup", entermedicine);
</script>
{% endblock %}
