{% extends "base.html" %}
{% block body %}
    <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    <h1>Enter the name of the medicine that you would like to check:</h1>
    </div>
    <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-3"></div>
    </div>
{% endblock %}
