{% extends "base.html" %}
{% block body %}
<div id="search-container">
    <div class="row">
        <label id="label-entrybox" for="entrybox">Search for a medicine:</label>
        <input type="text" id="entrybox" aria-labelled-by="label-entrybox" class="form-control input-lg" placeholder="e.g. paracetamol or panado">
    </div>
    <div class="row products">
        <p id="resultsheader"><b>Matching products and/or ingredients: <span></span></b></p>
        <div class="template productrow">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="panel-title product-name"></span>
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="related" href="#">Related Products</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 details">
                        <h4>Product details</h4>
                        <dl class="dl-horizontal">
                            <dt>Max price (incl VAT):</dt>
                            <dd></dd>
                            <dt>Registration number:</dt>
                            <dd></dd>
                            <dt>Schedule:</dt>
                            <dd></dd>
                            <dt>Dosage form:</dt>
                            <dd></dd>
                            <dt>Pack quantity/ml:</dt>
                            <dd></dd>
                            <dt>Number of packs:</dt>
                            <dd></dd>
                            <dt>Generic/Innovator:</dt>
                            <dd></dd>
                        </dl>
                    </div>
                    <div class="col-md-6 ingredients">
                        <h4>Ingredients</h4>
                        <dl class="dl-horizontal"></dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodybottom %}
<script>
    $(document).ready(function(){
        $("#entrybox").on("keyup", function(e){
            entermedicine(e);
        });

        $(function(){
            // Bind the event.
            $(window).hashchange( function(){
                handlehash(location.hash);
            })

            // Trigger the event (useful on page load).
            $(window).hashchange();
        });
    });
</script>
{% endblock %}
